<a href="https://colab.research.google.com/github/luis-amancio/luis-amancio/blob/main/Conceitos_iniciais_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1 - Programação em **Python**

Nesse módulo vamos estudar a sintaxe nativa do Python. <p>

**O que é Python?** <p>
Python é uma linguagem de programação popular.Foi criado por Guido van Rossum e lançado em 1991.

**Python pode ser usado para:**

1.   Inteligência Artificial;
2.   Machine Learning;
3.   Desenvolvimento de Software;
4.   Desenvolvimento de aplicativos;
5.   Automações (RPA);
6.   IoT (internet das coisas);
7.   Muitas outras.

# 1. Sintaxe básica <p>

Podemos utilizar ' ' (Aspas Simples) <p>
Podemos utilizar " " (Aspas duplas) <p>
Usando o \n para pular uma linha na impressão do valor <p>
Utilizando o hashtag # para comentar algo.

In [16]:
print (' Hello World! \n')
print (' Hello World \n Much Better! \n')
print (" Hello World ")

 Hello World!

 Hello World
 Much Better!

 Hello World

# 2. Operadores matemáticos

1. Soma <p>
2. Subtração <p>
3. Multiplicação <p>
4. Divisão <p>
5. Exponenciação <p>
6. Resto da Divisão <p>
7. Divisão de Chão <p>

In [5]:
#soma
1 + 1 #operador de soma +

2

In [6]:
#subtração: operador da subtração -
2-1

1

In [7]:
#multiplicação: operador de multiplicação *
2*2

4

In [8]:
#divisão: operador de divisão /
6/2

3.0

In [9]:
#exponenciação: operador de expoentes **
2**3

8

In [10]:
#resto de divisão %
3%4

3

In [12]:
#divisão de chão //
3//3

1

# Variáveis

Variáveis ​​são contêineres para armazenar valores de dados.<p>
Uma variável é criada no momento em que você atribui um valor a ela.

In [18]:
#Tipos de Variáveis

Inteiro_exemplo_1 = int (100)
Inteiro_exemplo_2 = 100

Flutuante_exemplo_1 = 10.50
Flutuante_exemplo_2 = float(10.50)

Palavra_exemplo_1 = 'Qualquer Palavra'
Palavra_exemplo_2 = str('Qaulquer Palavra')

Booleando_exemplo_1 = True
Booleando_exemplo_2 = False

print (Inteiro_exemplo_1, Inteiro_exemplo_2)
print (Flutuante_exemplo_1, Flutuante_exemplo_2)
print (Booleando_exemplo_1, Booleando_exemplo_2)

100 100
10.5 10.5
True False

# 4. Tipos de Dados

1. Listas - São criadas usando [] (Colchetes) <p>
2. Tuplas - São criadas usando () (Parenteses) <p>
3. Dicionários - São criados usando {} (Chaves).

In [20]:
#Tipos de dados

Lista_exemplo_1 = [1, 2, 3, 4, 5]
Lista_exemplo_2 = ['Nome', 'Quarto', 'Morango', 4, 5]
Lista_exemplo_3 = [1, 'Quarto', True, False]

##Uma tupla em Python é uma estrutura de dados imutável, ordenada e que pode armazenar diferentes tipos de dados.
Tupla_exemplo_1 = (2, 3, 4, 5, 6)
Tupla_exemplo_2 = ('Luis', 'Engenheiro', 50.000)

#Dicionários são para organizar os dados (Chave, Valor)
Dicionario = {'Nome': 'Luis Henrique', 'Idade': 37}

print (Lista_exemplo_1)
print (Lista_exemplo_2)
print (Lista_exemplo_3)

print (Tupla_exemplo_1)
print (Tupla_exemplo_2)

print (Dicionario)

[1, 2, 3, 4, 5]
['Nome', 'Quarto', 'Morango', 4, 5]
[1, 'Quarto', True, False]
(2, 3, 4, 5, 6)
('Luis', 'Engenheiro', 50.0)
{'Nome': 'Luis Henrique', 'Idade': 37}